

.index__section__noticias__item__parrafo {
    margin-bottom: 30px;
}

.footer__grid {
    background-color: rgb(42, 86, 61);
    color: white;
    font-size: 20px;
    padding-left: 15%;
    padding-bottom: 5%;
}

.footer__logo {
    padding-bottom: 5%;
}

.footer__contacto h2 {
    padding-bottom: 2%;
}
.footer__contacto p {
    line-height: 35px;
    font-size: 14px;
}

.predio__LaGranja {
    text-align: center;
    padding-bottom: 5%;
    background-color: #f7f7f7;
    .predio__LaGranja__titulo {
        padding-top: 5%;
        padding-bottom: 2%;
      
}
.predio__LaGranja__cultivos {
    padding-top: 3%;
    padding-bottom: 2%;
}
}

.nosotros__mision {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 3%;
    line-height: 60px;
    .nosotros__mision__titulo {
        padding-bottom: 1%;
        color: rgb(42, 86, 61);
    }
    .nosotros__mision__parrafo {
        
        max-width: 800px;
        margin: auto;
        color: rgba(51, 104, 1, 0.581);
    }
}


.nosotros__fondo__vision {
    background-image: url(../IMG/fondo\ nosotros.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
}
.nosotros__vision {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 3%;
    line-height: 60px;
    .nosotros__vision__titulo {
        padding-bottom: 1%;
        color: rgb(42, 86, 61);
    }
    .nosotros__vision__parrafo {
        max-width: 800px;
        margin: auto;
        color: rgba(51, 104, 1, 0.581);
    }
}

.nosotros__valores {
    .nosotros__valores__titulo {
        h2 {
          color: rgb(42, 86, 61);
        }
    }
    .nosotros__valores__parrafo {
        p {
            color: rgba(51, 104, 1, 0.581);
        }
    }
}

.Noticias__noprincipal {
    background-color: #efefef; 
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    h2 {
        padding-bottom: 1%;
     
    }
}




#contacto {
    background-image: url(../IMG/WhatsApp\ Image\ 2022-09-29\ at\ 2.26.15\ PM\ \(1\).jpeg);
   height: 100vh;
   width: 100wv;
   background-repeat: no-repeat;
     background-attachment: fixed;
   padding-top: 5%;
}

.contacto__formulario {
    width: 450px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 7px;
    h2 {
        color: #fff;
        text-align: center;
        margin: 0;
        font-size: 30px;
        margin-bottom: 20px;
        padding-top: 10px;

    }
    input {
        width: 100%;
        margin-bottom: 20px;
        padding: 7px;
        box-sizing: border-box;
        font-size: 17px;
    }    
    textarea {
        width: 100%;
        margin-bottom: 20px;
        padding: 7px;
        box-sizing: border-box;
        font-size: 17px;
        border: none;
        min-height: 100px;
        max-height: 200px;
    }
    #boton {
        background-color: #31384A;
        color: #fff;
        padding: 20px;
    }
}


@media screen and (max-width: 480px) {
    .contacto__formulario {
        width: 100%;
    }
}

@media screen and (min-width: 600px) {

    .index__section {
        .index__section__color {
            .index__section__tituloizquierda1 {
                h2 {
                 font-size: 50px;
                }
            }
        }
        .index__section__colorgradientetobottom {
            .index__section__tituloderecha {
                h2 {
                    font-size: 50px;
                }
            }
        }
        .index__section__nocolor {
            .index__section__tituloizquierda2 {
                h2 {
                    font-size: 50px;
                }
            }
        }
        .index__section__nocolor1 {
            .index__section__noticias {
                h2 {
                    font-size: 50px;
                }
            }
        }
    }

    .footer__grid {
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr 1fr; 
        grid-template-rows: 1fr; 
        gap: 0px 100px; 
        grid-template-areas: 
        ". footer__logo footer__contacto ."; 
        padding-top: 3%;
        padding-bottom: 5%;
        padding-left: 0px;
    }
    .footer__logo { grid-area: footer__logo; }
    .footer__logo img {
        margin-top: 20px;
    }
    .footer__contacto { grid-area: footer__contacto;
    padding-top: 20px;
    }
    
    .footer__contacto h2 {
        font-weight: bold;
        padding-bottom: 30px;
    }
    
    .footer__contacto p {
        line-height: 30px;
        font-size: 14px;
       
    }
    

    .Noticias__principal__CarbonProject__titulo h2 {
        font-size: 50px;
        padding-bottom: 5%;
    }

    .Noticias__principal__PrimerosCultivosEnUruguay__titulo h2 {
        font-size: 50px;
        padding-bottom: 5%;
    }

    .Noticias__noprincipal h2 {
        font-size: 50px;
        padding-bottom: 3%;
    }


    #nosotros__main {
        .nosotros__mision {
          .nosotros__mision__titulo {
                h2 {
                font-size: 50px;
            }
        }
    }
        .nosotros__vision {
            .nosotros__vision__titulo {
                h2 {
                    font-size: 50px;
                }
            }
        }
        .nosotros__valores {
            padding-bottom: 3%;
            padding-top: 5%;
          .nosotros__valores__titulo {
            h2 {
                font-size: 50px;
            }
          }  
        }
        #nosotros__presentación {
            .nosotros__presentación__titulo {
                h2 {
                    font-size: 50px;
                
            }
        }
     }
    }


    .body__cuerpo {
        .predio__ElEspinillar {
            .predio__ElEspinillar__titulo1{
            h2 {
                font-size: 50px;
             }
            }  
            .predio__ElEspinillar__titulo2 {
              h2 {
                font-size: 50px;
              }
            }
        }
        .predio__LaGranja {
            .predio__LaGranja__titulo {
                h2 {
                    font-size: 50px;
                }
            }
            .predio__LaGranja__cultivos {
                h2 {
                    font-size: 50px;
                }
            }
        }
    }

    .footer {
    width: 100%;
    ul {
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        

        

    }
}
}

@media screen and (min-width: 636px) {
    .noticias__noprincipal__PlantacióndePaltos {
        width: 18rem; 
        height: 400px; 
        
        margin-left: 20px;

    }

    .noticias__noprincipal__PlantacióndeMacadamias {
        width: 18rem; 
        height: 400px; 
        margin-right: 20px; 
        margin-left: 20px;
    }
    .noticias__noprincipal__ingertación__LimónsinSemillas {
        width: 18rem; 
        height: 400px; 
       
     margin-top: 3%;
    }
}
        
    


@media screen and (min-width: 925px) {
  
    .noticias__noprincipal__ingertación__LimónsinSemillas {
    margin-top: 0px;
}
}
    


@media screen and (min-width: 1200px) {
.header__carrousel__parrafo1 {
    font-size: 40px;
   
}

.header__carrousel__parrafo2 {
    font-size: 40px;
}

.header__carrousel__parrafo3 {
    font-size: 40px;
}

}